<ui-view class="cat-anim row" name="menu">
	<div class="panel cat-list">
		<li ng-repeat="cat in nav.categories" ng-class="nav.isCategorySelected(cat)" class="{{cat}}">
			<span class="bullet {{cat}}">
				<span class="pointer">
				</span>
			</span>
			<a ui-sref="topView.filterPosts({ catName: cat })" class="hoverHighlight">{{cat}}</a>
		</li>
  </div>
  <animated-line />
<!--   <svg width="100%" height="1px" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0 l 7000 0" stroke="#999" fill="transparent"/>
  </svg>  -->
</ui-view>

<ui-view class="post-anim" name="posts"></ui-view>
<ui-view class="single-anim" name="single"></ui-view>

<!-- <div plangular="http://soundcloud.com/jxnblk/let-go" class="p2 mb3 flex flex-center bg-darken-2 rounded">
  <button ng-click="playPause()"
    title="Play/Pause"
    class="flex-none h2 mr2 button button-transparent button-grow rounded">
    <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
    <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
  </button>
  <div class="flex-auto">
    <h3 class="h4 m0">{{track.user.username}}</h3>
    <h2 class="h4 caps m0">{{track.title}}</h2>
    <progress
      class="progress"
      ng-click="seek($event)"
      ng-value="currentTime / duration || 0">
      {{ currentTime / duration }}
    </progress>
  </div>
</div> -->
