<!-- Home view

<div class="row">
	<div class="panel category-list">
		<li ng-repeat="cat in categories"><h3><a href="#/category/{{cat.name}}/" ng-click="filterCat()">{{cat.name}}</a></h3></li> 
	</div>
</div>-->
<div class="row">
	<div class="post-list col-md-12">
		<!--columnize="{transition: 'fade'}" col_count="4" <input type="text" ng-model="postView.greeting.message" /> -->

		<div class="panel {{post.catName}}" ng-repeat="post in posts">
			<a href="#/{{post.slug}}/">{{post.title}}</a>
			<!-- <div class="post-intro">{{post.content.brief}}</div> -->
		</div>
	</div>
</div>

<div ui-view></div>