include ../mixins/flash-messages
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title || 'Programming and Music Production'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/assets/styles/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet" href="http://d2v52k3cl9vedd.cloudfront.net/bassdock/1.2.1/bassdock.min.css")
		link(rel="stylesheet" href="http://d2v52k3cl9vedd.cloudfront.net/vhs/0.1.0/vhs.min.css")
		link(href="/assets/styles/layout.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet')
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		block css
		block head
		body(ng-app="app")
			#header.container
				<a ui-sref='topView.posts' class="logo hoverHighlight">Programming and Music Production</a>
			<div ui-view class="container main-ui"></div>
			<div plangular class="fixed right-0 bottom-0 p2">
			<button ng-if="player.playing" ng-click="pause()" class="button button-small black bg-teal vhs-bottom">
			<svg class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor;top:-.0625em"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
			Pause
			</button>
			<button ng-click="muteUnmute()" ng-if="player.playing" class="button button-small black bg-teal vhs-bottom">
			<span ng-if="player.muted == false">Mute</span>
			<span ng-if="player.muted == true">Unmute</span>
			</button>
			</div>
			<svg class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor;top:-.0625em"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>Pause
			#footer.container
		script(src='/assets/js/jquery/jquery-1.11.2.min.js')
		script(src='/assets/js/bootstrap/bootstrap-3.3.4.min.js')
		script(src='/assets/js/angular/angular-1.4.4.js')
		script(src='/assets/js/angular/angular-ui-router.js')
		script(src='/assets/js/angular/angular-animate.js')
		script(src='/assets/js/libs/ocLazyLoad.js')
		script(src='/assets/js/libs/lodash.js')
		script(src='/assets/js/libs/snabbt.js')
		script(src='/assets/js/angular/plangular.js')
		script(src='/app.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		if data.post && data.post.customScript
			script.
				#{data.post.customScript}
		block js