include ../mixins/flash-messages
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title || 'Programming and Music Production'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/assets/styles/bootstrap.min.css", rel="stylesheet")
		link(href="/assets/styles/site/layout.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet')
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		block css
		block head
		body(ng-app="app")
			#header.container
				<a ui-sref='topView.posts' class="logo">Programming and Music Production</a>
			<div ui-view class="container main-ui"></div>
			include ../../public/react/helloworld.html
			#footer.container
		script(src='/assets/js/jquery/jquery-1.11.2.min.js')
		script(src='/assets/js/bootstrap/bootstrap-3.3.4.min.js')
		script(src='/assets/js/angular/angular-1.4.4.js')
		script(src='/assets/js/angular/angular-ui-router.js')
		script(src='/assets/js/angular/angular-animate.js')
		script(src='/assets/js/libs/ocLazyLoad.js')
		script(src='/assets/js/libs/lodash.js')
		script(src='/assets/js/libs/snabbt.js')
		//- script(src='/assets/js/react/react.js')
		//- script(src='/assets/js/react/react-dom.js')
		//- script(src='/assets/js/react/browser.min.js')
		script(src='/app.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		if data.post && data.post.customScript
			script.
				#{data.post.customScript}
		block js