include ../mixins/flash-messages
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title || 'Nybryx'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/assets/styles/bootstrap.min.css", rel="stylesheet")
		link(href="/assets/styles/anim-in-out.css", rel="stylesheet")
		link(href="/assets/styles/effeckt.css", rel="stylesheet")
		link(href="/assets/styles/custom.css", rel="stylesheet")

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		block css
		block head
		body(ng-app="app")
			#header.container
				a(href='/#/' class="logo") Nybryx
				div(ng-controller="CatCtrl")
					div.panel.category-list
						li(ng-repeat="cat in categories")
							a(href="#/category/{{cat}}" ng-class="cat")
								{{cat}}
				<div ui-view class="container no-padding no-margin anim-in-out anim-fade animated" data-anim-speed="800" data-anim-sync="true" ></div>
		.container: #footer
		script(src='/assets/js/jquery/jquery-1.11.2.min.js')
		script(src='/assets/js/bootstrap/bootstrap-3.3.4.min.js')
		script(src='/assets/js/angular/angular.js')
		script(src='/assets/js/angular/angular-ui-router.js')
		script(src='/assets/js/angular/angular-animate.js')
		script(src='/assets/js/angular/anim-in-out.js')
		script(src='/assets/js/libs/ocLazyLoad.js')
		script(src='/assets/js/libs/lodash.js')
		script(src='/assets/js/angular/columns-directive.js')
		script(src='/app.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		if data.post && data.post.customScript
			script.
				#{data.post.customScript}
		block js