/*VARIABLES*/
	@col: #fff;
	@navBg: #eaeaea;
	@music: #F0C808;
	@code: #06AED5;
	@other: #DD1C1A;
	@cream: #FFF1D0;
	@navy: #086788;
	@white: #fff;
	@black: #000;
	@ringDim: 20px;
	@darkGrey: #333;
	@font-size-base: 14px;
	@lightGray: #aaa;
	@hoverAnim: 200ms;
	@buttonAnim: 300ms;

/*GEN*/
	.panel{
		box-shadow: none;
		margin-bottom: 0px;
	}
	/*a:hover, a:focus{
		color: @black;
	}*/
	li{
		list-style-type: none;
		margin: 0px
	}
	*{
	  box-sizing: border-box;
	}
	.post-ui,
	.single-ui,
	.post-ui{
		position: absolute;
	}
	.main-ui{
		position: relative;
	}
	.post:hover span.bullet{
	    // -webkit-transform: rotate(90deg);
		// border: red solid 1px
	}

/*HED FUT*/
	body{
		overflow-x: hidden;
		font-family: 'Raleway', sans-serif;
		background: @cream;
	}
	#header {
		margin-top: 30px;
		background: @cream;
		.logo{
		    font-size: 20px;
		    color: @black;
		    font-weight: bold;
		}
	}
	#footer {
		margin-top: 30px;
		padding-top: 30px;
	}

/*POST LIST*/
	.post{
		line-height: 37px;
		a{
			font-size: 24px;
			margin: 0px 0px 2px 0px;
			color: #433;
			display: block;
			.span{
				text-shadow: 0px 2px 0px @lightGray;
			}
		}
		span.title{
			margin-left: 10px;
		}
		&.code{
			background: @code;
			a{
				color: @white;
			}
		}
		&.music{
			background: @music;
			a{
				color: @white;
			}
		}
		&.other{
			background: @other;
			a{
				color: @white;
			}
		}
	}

	h2{
		&.code{
			background: @black;
			color: @white;
		}
		&.music{
			background: @black;
			color: @white;
		}
		&.other{
			background: @black;
			color: @white;
		}

	}

/*MENU*/
	.cat-list {
		background: none;
		li {
			position: relative;
			display: inline;
			list-style-type: none;
		 	margin: 0px 0px;
		    padding: 0px 8px 0px 0px;
			a {
				color: @darkGrey;
				cursor: pointer;
				padding: 0px 5px 0px 5px;
				font-size: 40px;
				margin-left: 20px;
				-webkit-transition: all @hoverAnim;
				&.active {
					text-decoration: underline;
				}
				&.code {
					color: @code;
					&:hover{
					    // -webkit-transform: rotate(90deg);
						// border-color: @code !important;
					}
				}
				// &:hover{
				//     color: @code
				// }
				// &.music {
				// 	color: @music;
				// }
				// &.other {
				// 	color: @other;
				// }
				&:hover{
					text-decoration: none
				}
				&:focus{
					text-decoration: none
				}
			}
			&:hover span.bullet{
			    -webkit-transform: rotate(90deg);
				// border-color: @col;
				// border: red solid 5px;
				&.code {
					border-color: @code !important;
				}
				&.music {
					border-color: @music !important;
				}
				&.other {
					border-color: @other !important;
				}
			}
			&.active {
				span.bullet{
				    -webkit-transform: rotate(90deg);
					// border-color: @col;
					// border: red solid 5px;
					&.code {
						border-color: @code !important;
					}
					&.music {
						border-color: @music !important;
					}
					&.other {
						border-color: @other !important;
					}
				}
			}
		}
	}

	@media (min-width : 200px) and (max-width : 480px) {
		.cat-list li a {
		    font-size: 18px;
		}
	}

/*SINGLE POST*/
	.single-nav{
		height: 45px;
		top: 0px;
		position: relative;
	}
	.single-nav a.code{
		color: @black !important;
	}
	.single-nav a.music{
		color: @black !important;
	}
	.single-nav a.other{
		color: @black !important;
	}
	.left-nav, .right-nav{
		// background-color: @navBg;
		font-weight: bold;
		font-size: 16px;
		width: auto;
	}

/*MEDIA QUERIES*/
	@media (min-width : 200px) and (max-width : 480px) {
		.left-nav, .right-nav{
			font-size: 14px;
		}
	}
	a.left-nav, a.right-nav{
		color: @black;
		width: 29%;
		transition: @buttonAnim;
	}
	@media (min-width : 200px) and (max-width : 560px) {
		a.left-nav, a.right-nav{
			width: 49%;
		}
	}
	@media (min-width : 561px) and (max-width : 699px) {
		a.left-nav, a.right-nav{
			width: 39%;
		}
	}
	@media (min-width : 200px) and (max-width : 480px) {
		.single-content h2 {
			margin-top: 20px;
			font-size: 18px;
		}
	}
	@media (min-width : 200px) and (max-width : 480px) {
		.container{
			width: 300px;
			padding: 0px;
		}
	}
	@media (min-width : 481px) and (max-width : 560px) {
		.container{
			width: 460px;
			padding: 0px;
		}
	}
	@media (min-width : 561px) and (max-width : 699px) {
		.container{
			width: 540px;
			padding: 0px;
		}
	}
	@media (min-width : 700px) and (max-width : 767px) {
		.container{
			width: 680px;
			padding: 0px;
		}
	}

/*MIXINS*/
	.no-margin{
	    margin: 0px;
	}
	.no-padding{
	    padding: 0;
	}
	.left-nav{
		float: left;
	}
	.right-nav{
		float: right;
	}
	.single-content h2 {
	    margin-top: 28px;
	    text-align: center;
	    clip-rule: nonzero;
	}

/*BULLETS*/
	.bullet {
	    position: absolute;
	    width: 10px;
	    height: 10px;
	    padding: 5px;
	    border: solid 2px @darkGrey;
	    -webkit-transition: all @buttonAnim;
	    border-radius: 10px;
	    margin-top: 22px;
		&:hover {
		    // -webkit-transform: rotate(90deg);
			border: solid 2px @col;
		}
		.pointer{
			width: 10px;
			height: 3px;
			display: inline-block;
			background: @darkGrey;
			position: absolute;
		    -webkit-transform: rotate(90deg);
		    left: 0px;
		    top: -1px;

		}
	}

/*ARROW*/
/*	.arrow-right{
width: 0;
height: 0;
border-style: solid;
border-width: 7.5px 0 7.5px 15px;
border-color: transparent transparent transparent #007bff;
	}
	.arrow-left{
width: 0;
height: 0;
border-style: solid;
border-width: 7.5px 15px 7.5px 0;
border-color: transparent #007bff transparent transparent;
	}	*/