/*VARIABLES*/
	@col: #fff;
	@navBg: #eaeaea;
	@music: #F0C808;
	@code: #06AED5;
	@other: #DD1C1A;
	// @cream: #FFF1D0;
	@navy: #086788;
	@white: #fff;
	@black: #000;
	@ringDim: 20px;
	@darkGrey: #333;
	@font-size-base: 14px;
	@lightGray: #aaa;
	@hoverAnim: 200ms;
	@buttonAnim: 300ms;
	@small-font:14px;
	@med-font: 20px;
/*GEN*/
	.panel{
		box-shadow: none;
		margin-bottom: 0px;
		background: none;
	}
	.post-list li, .single-ui{
		list-style-type: none;
		margin: 0px;
		width: 270px;
		-webkit-transition: all @hoverAnim;
		@media (min-width : 420px) {
			width: 350px;
		}
		@media(min-width: 480px){
			width: 430px;
		}
		@media(min-width: 560px){
			width: 510px;
		}
		@media (min-width: 700px){
		    width: 650px;
		}
		@media (min-width: 979px){
		    width: 750px;
		}

	}
	*{
	  box-sizing: border-box;
	}
	.post-ui,
	.single-ui,
	.post-ui{
		position: absolute;
		//
	}
	.main-ui{
		position: relative;
	}

/*HED FUT*/
	body{
		overflow-x: hidden;
		font-family: 'Raleway', sans-serif;
		background: @white;
	}
	#header {
		margin-top: 30px;
		background: @white;
		.logo{
		    font-size: @small-font;
		    color: @black;
		    font-weight: bold;
		}
		@media(min-width: 481px){
			font-size: @med-font;
		}
	}
	#footer {
		margin-top: 30px;
		padding-top: 30px;
	}

/*POST LIST*/
	.post{
		line-height: 28px;
		@media(min-width: 481px){
			line-height: 37px;
		}
		a{
			font-size: @small-font;
			margin: 0px 0px 2px 0px;
			color: #433;
			display: block;
			@media(min-width: 481px){
				font-size: @med-font;
			}
			.span{
				text-shadow: 0px 2px 0px @lightGray;
			}
		}
		span.title{
			margin-left: 10px;
		}
		&.code{
			background: @code;
			a{
				color: @white;
			}
		}
		&.music{
			background: @music;
			a{
				color: @white;
			}
		}
		&.other{
			background: @other;
			a{
				color: @white;
			}
		}
	}
	h2{
		&.code{
			background: @black;
			color: @white;
		}
		&.music{
			background: @black;
			color: @white;
		}
		&.other{
			background: @black;
			color: @white;
		}

	}

/*MENU*/
	.cat-list {
		background: none;
		display: inline-block;
		li {
			position: relative;
			display: block;
			list-style-type: none;
		 	margin: 0px 0px;
		    padding: 0px 8px 0px 0px;
		    @media(min-width: 330px){
				display: inline;
		    }
			a {
				color: @darkGrey;
				cursor: pointer;
				padding: 0px 5px 0px 5px;
				font-size: 22px;
				margin-left: 15px;
				-webkit-transition: all @hoverAnim;
				-moz-transition: all @hoverAnim;
				@media(min-width: 480px){
					font-size: 28px;
					margin-left: 25px;
					margin-right: 5px;
				}

				&.code {
					color: @code;
					&:hover{
					    // -webkit-transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
						border-color: @code !important;
					}
				}

				&:hover{
					text-decoration: none
				}
				&:focus{
					text-decoration: none
				}
			}
			&:hover span.bullet{
			    -webkit-transform: rotate(90deg);
			    -moz-transform: rotate(90deg);
				// border-color: @col;
				// border: red solid 5px;
				&.code {
					border-color: @code !important;
				}
				&.music {
					border-color: @music !important;
				}
				&.other {
					border-color: @other !important;
				}
			}
			&.active {
				span.bullet{
				    -webkit-transform: rotate(90deg);
				    -moz-transform: rotate(90deg);
					border-color: @col;
					&.code {
						border-color: @code !important;
					}
					&.music {
						border-color: @music !important;
					}
					&.other {
						border-color: @other !important;
					}
				}
			}
		}
	}

/*SINGLE POST*/
	.single-nav{
		height: 45px;
		top: 0px;
		position: relative;
		a{
			color: @white;
			padding: 3px;
			&.code{
				background: @code;
			}
			&.music{
				background: @music;
			}
			&.other{
				background: @other;
			}
		}
		.left-nav, .right-nav{
			font-weight: bold;
			font-size: @small-font;
			transition: @buttonAnim;
			width: 135px;
		    height: 24px;
		    border: solid 1px;
		    word-break: break-all;
		}
	}

	.container{
		@media (min-width : 200px) {
			width: 300px;
		}
		@media (min-width : 420px) {
			width: 380px;
		}
		@media (min-width : 480px) {
			width: 460px;
		}
		@media (min-width : 560px) {
			width: 540px;
		}
		@media (min-width : 700px) {
			width: 680px;
		}
		@media (min-width: 979px){
		    width: 750px;
		}		
	}

/*MIXINS*/
	.no-margin{
	    margin: 0px;
	}
	.no-padding{
	    padding: 0;
	}
	.left-nav{
		float: left;
	}
	.right-nav{
		float: right;
	}
	.single-content h2 {
	    margin-top: 28px;
	    text-align: center;
	    clip-rule: nonzero;
	}

/*BULLETS*/
	.bullet {
		position: absolute;
		width: 10px;
		height: 10px;
		padding: 5px;
		border: solid 1px #333;
		-webkit-transition: all 300ms;
		-moz-transition: all 300ms;
		border-radius: 10px;
		margin-top: 10px;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		@media(min-width: 480px){
			width: 15px;
			height: 15px;
			border: solid 2px #333;
			border-radius: 10px;
			margin-top: 14px;
		}

		.pointer{
		    width: 8px;
		    height: 2px;
		    left: 1px;
		    top: 0px;
			display: inline-block;
			background: @darkGrey;
			position: absolute;
		    -webkit-transform: rotate(90deg);
		    -moz-transform: rotate(90deg);
			@media(min-width: 480px){
				width: 11px;
				height: 2px;
				left: 0px;
				top: -1px;
			}

		}
	}

/*Controls*/
	.controls{
		position:absolute;
		width: 150px;
		height:100px;
		right: 0px;
		top: -30px;
		}
	.controls p{
		font-weight: bold;
		margin-top: -15px;
	}
	.onoffswitch{position:absolute;
		right: 2px;
		top:-40px;
		width: 60px;
		user-select:none;
		}

	.onoffswitch-checkbox{
		display:none
	}
	.onoffswitch-label{
		overflow:hidden;
		cursor:pointer;
		border:2px solid #999;
		border-radius: 18px;
		}
	.onoffswitch-inner{display:block;
		width:200%;
		margin-left:-100%;
		transition:margin .2s 0s}
	.onoffswitch-inner:before,.onoffswitch-inner:after{
		display: block;
	    float: left;
	    width: 50%;
	    height: 20px;
	    padding: 0;
	    line-height: 22px;
	    font-size: 14px;
	    color: white;
	    font-weight: bold;
	    box-sizing: border-box;
	}
	.onoffswitch-inner:before{
		content:"On";
		padding-left: 7px;
		background-color:#eee;
		color:#000
	}
	.onoffswitch-inner:after{
		content:"OFF";
		padding-right: 0px;
		background-color:#eee;
		color:#999;
		text-align:right
	}
	.onoffswitch-switch {
	    width: 20px;
	    margin: 0;
	    background: #a1a1a1;
	    position: absolute;
	    top: 1px;
	    bottom: 6px;
	    right: 38px;
	    border: 1px solid #999;
	    border-radius: 20px;
	    transition: all .2s 0s;
	    margin-bottom: 0;
	}
	.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner{
		margin-left:0
	}
	.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch{
		right: 5px;
		background-color:#27a1ca
	}
	.flipswitch{
		position:absolute;
		-webkit-user-select:none;
		-moz-user-select:none;
		width:150px;
		margin-left:auto;
		left:0;
		right:0;
		top:-10px;
		box-sizing:border-box;
		height:100px
	}
	.flipswitch-check{
		display:none
	}
	.flipswitch-label{
		display:block;
		overflow:hidden;
		cursor:pointer
	}
	.flipswitch-inner{
		width:100%
	}
	.flipswitch-switch{
		display:block;
		width:0;
		margin:0;
		position:absolute;
		top:37px;
		right:69px;
		border:5px solid #999;
		border-radius:10px;
		transition:all .5s 0s;
		box-shadow:0 3px 2px #aaa
	}
	.flipswitch-check:checked+.flipswitch-label .flipswitch-switch{
		background-color:#0af346;
		border-color:green
	}
	.flipswitch-dial{
		position:absolute;
		width:2px;
		height:30px;
		background:#272727;
		transform:rotate(-45deg);
		transform-origin:0 100%;
		transition:all .5s;
		left:75px;
		top:12px;
		box-shadow:-2px 2px 3px #ccc;
		background:-webkit-linear-gradient(top, #4c4c4c 0, #595959 12%, #666 25%, #474747 39%, #2c2c2c 50%, #000 51%, #111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)
		-moz-linear-gradient(top, #4c4c4c 0, #595959 12%, #666 25%, #474747 39%, #2c2c2c 50%, #000 51%, #111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)
	}
	.flipswitch-check:checked+.flipswitch-label .flipswitch-dial{
		transform:rotate(45deg);
		box-shadow:2px 2px 3px #ccc
	}
	div.arrow-up{
		width:0;
		height:0;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
		border-bottom:#272727 solid 10px;
		font-size:0;
		line-height:0;
		position:absolute;
		left:-4px;
		top:-4px;
		background:-webkit-linear-gradient(top, #4c4c4c 0, #595959 12%, #666 25%, #474747 39%, #2c2c2c 50%, #000 51%, #111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)
		-moz-linear-gradient(top, #4c4c4c 0, #595959 12%, #666 25%, #474747 39%, #2c2c2c 50%, #000 51%, #111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)
	}
	.img-data{
		position:absolute;
		left:100px
	}
	.img-type{
		position:absolute;
		left:100px
	}
	input.cmn-toggle-round+label{
		padding:2px;
		width:120px;
		height:60px;
		background-color:#ddd;
		-webkit-border-radius:60px;
		-moz-border-radius:60px;
		-moz-border-radius:60px;
		-ms-border-radius:60px;
		-o-border-radius:60px;
		border-radius:60px
	}
	input.cmn-toggle-round+label:before,input.cmn-toggle-round+label:after{
		display:block;
		position:absolute;
		top:1px;
		left:1px;
		bottom:1px;
		content:""
	}
	input.cmn-toggle-round+label:before{
		right:1px;
		background-color:#f1f1f1;
		-webkit-border-radius:60px;
		-moz-border-radius:60px;
		-moz-border-radius:60px;
		-ms-border-radius:60px;
		-o-border-radius:60px;
		border-radius:60px;
		-webkit-transition:background .4s;
		-moz-transition:background .4s;
		-moz-transition:background .4s;
		-o-transition:background .4s;
		transition:background .4s
	}
	input.cmn-toggle-round+label:after{
		width:58px;
		background-color:#fff;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		-moz-border-radius:100%;
		-ms-border-radius:100%;
		-o-border-radius:100%;
		border-radius:100%;
		-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.3);
		-moz-box-shadow:0 2px 5px rgba(0,0,0,0.3);
		-moz-box-shadow:0 2px 5px rgba(0,0,0,0.3);
		box-shadow:0 2px 5px rgba(0,0,0,0.3);
		-webkit-transition:margin .4s;
		-moz-transition:margin .4s;
		-moz-transition:margin .4s;
		-o-transition:margin .4s;
		transition:margin .4s
	}
	input.cmn-toggle-round:checked+label:before{
		background-color:#8ce196
	}
	input.cmn-toggle-round:checked+label:after{
		margin-left:60px
	}
	.settings{
		display:table;
		width:100%
	}
	.settings .row{
		display:table-row
	}
	.settings .question,.settings .switch{
		display:table-cell;
		vertical-align:middle;
		padding:10px
	}
	.settings .question{
		width:600px;
		font-family:"Roboto Slab",serif;
		font-size: @med-font;
	}
