	<div class="single-nav">
		<a class="left-nav anim-slide-right {{prevNext.prev.cat}}" href="#/{{prevNext.prev.slug}}/"><span class="pull-left">&#60;&#60;{{prevNext.prev.title}}</span></a>
		<a class="right-nav anim-slide-left {{prevNext.next.cat}}" href="#/{{prevNext.next.slug}}/"><span class="pull-right">{{prevNext.next.title}}&#62;&#62;</span></a>
	</div>
	<div class="single-content anim-zoom-out">
		<h2 class="anim-slide-below {{category}}">{{title}}</h2>
		<p  class="anim-slide-below-fade" ng-bind-html="content"></p>
		<div ng-if="hasImage(image)">
			<img ng-src="{{image}}" />
		</div>
	</div>
		<div ng-if="usesTemplate()">
			{{template}}<
		</div>
