body{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
	overflow-x: hidden;
}
#header {
	margin-top: 30px;
}
.logo{
	margin-left: 10px;
	font-size: 20px;
}
#footer {
	margin-top: 30px;
	padding-top: 30px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post{}

.post:first-child{}

article{}

article p{}

article header{}

article header h1{}

article header{}

.list-group-item{
	display: inline-block;
}

.post-list li{
}

.post-list .panel{
	margin: 25px;
	width: 250px;
	height: 154px;
	display: inline-block;
	border: solid 1px #bbb;
	padding: 15px;
}

.category-list h3{
	display: inline;	
}
.category-list li{
	display: inline;
	list-style-type: none;
	margin: 0px 10px;
}
a.code{
	color: #ffcc33
}
a.music{
	color: #3366FF
}
a.other{
	color: #009966
}
.panel.code{
	background: #ffcc33;
}
.panel.music{
	background: #3366FF;
}
.panel.other{
	background: #009966;
}

a.text-success, .text-success{
	font-size: 20px;
}
.main{
	-webkit-transition: all 500ms ease;
}
.main.ng-enter{
	/*opacity: 0*/
}
.main.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 0s;
	opacity: 0  
}

.anim-in-out .ng-leave{
	display: none;
	background: red !important;
	border: solid 2px #00f;
}

.anim-in, .anim-out, .ng-animate{
	position:absolute;
}
.anim-in{
	/*animation: fadeInLeftBig 1s;*/
}
.anim-out{
	animation: fadeOut 1s;
}

.anim-out-setup{
	position:absolute
}