body{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
	overflow-x: hidden;
}

/*HED FUT*/
	#header {
		margin-top: 30px;
	}
	.logo{
	    font-size: 20px;
	    color: #000;
	    font-weight: bold;
	}
	#footer {
		margin-top: 30px;
		padding-top: 30px;
	}

/*GEN*/

	.panel{
		box-shadow: none;
		margin-bottom: 0px;
	}
	a:hover, a:focus{
		color: #000;
	}
	li{
		list-style-type: none;
		margin: 0px
	}
/*POST LIST*/
	.post{
		line-height: 37px;
	}
	.post-list a{
		font-size: 24px;
		margin: 0px 0px 2px 0px;
		color: #433;
		display: block;
	}
	.post-list a .span{
		text-shadow: 0px 2px 0px #aaa;
	}
	.post-list .code{
		background: #f29602;
	}
	.post-list .music{
		background: #265f42;
	}
	.post-list .other{
		background: #0202e5;
	}
	.code a{
		color: #fff;
	}
	.music a{
		color: #fff;
	}
	.other a{
		color: #fff;
	}

	h2.code{
		background: #000;
		color: #fff;
	}

	h2.music{
		background: #000;
		color: #fff;
	}

	h2.other{
		background: #000;
		color: #fff;
	}
	.post span{
		margin-left: 10px;
	}

/*MENU*/
	.category-list{
		background: none;
	}
	.category-list h3{
		display: inline;
	}
	.category-list li{
		display: inline;
		list-style-type: none;
	 	margin: 0px 0px;
	    padding: 0px 8px 0px 0px;
	}
	.category-list li a.code{
		background-color: #000;
	}
	.category-list li a.music{
		background-color: #000;
	}
	.category-list li a.other{
		background-color: #000;
	}
	.category-list li{
	}
	.category-list li {
	}
	.category-list li a{
		padding: 0px 5px 0px 5px;
		font-size: 22px;
	    color: #fff;
	}
	@media (min-width : 200px) and (max-width : 480px) {
		.category-list li a {
		    font-size: 18px;
		}
	}

/*SINGLE POST*/
	.single-nav{
		height: 45px;
		top: 0px;
		position: relative;
	}
	.single-nav a.code{
		color: #000 !important;
	}
	.single-nav a.music{
		color: #000 !important;
	}
	.single-nav a.other{
		color: #000 !important;
	}
	.left-nav, .right-nav{
		background-color: #eaeaea;
		font-weight: bold;
		font-size: 16px;
		width: auto;
	}
@media (min-width : 200px) and (max-width : 480px) {
	.left-nav, .right-nav{
		font-size: 14px;
	}
}

	a.left-nav, a.right-nav{
		color: #000;
		width: 29%;
		opacity: 0.8;
		transition: 300ms;
	}
@media (min-width : 200px) and (max-width : 560px) {
	a.left-nav, a.right-nav{	
		width: 49%;
	}
}
@media (min-width : 561px) and (max-width : 699px) {
	a.left-nav, a.right-nav{	
		width: 39%;
	}	
}
	a.left-nav:hover, a.right-nav:hover{
		opacity: 1;
	}
	.left-nav{
		float: left;
	}
	.right-nav{
		float: right;
	}
	.single-content h2 {
	    margin-top: 28px;
	    text-align: center;
	    clip-rule: nonzero;
	}
@media (min-width : 200px) and (max-width : 480px) {
	.single-content h2 {
		margin-top: 20px;
		font-size: 18px;
	}
}
/*ANIM*/
	.anim-in, .anim-out, .ng-animate{
		position:absolute;
	}
	.anim-out-setup{
		position:absolute
	}

/*MIXINS*/
	.no-margin{
	    margin: 0px;
	}
	.no-padding{
	    padding: 0;
	}

@media (min-width : 200px) and (max-width : 480px) {
	.container{
		width: 300px;
		padding: 0px;
	}
}

@media (min-width : 481px) and (max-width : 560px) {
	.container{
		width: 460px;
		padding: 0px;		
	}
}
@media (min-width : 561px) and (max-width : 699px) {
	.container{
		width: 540px;
		padding: 0px;		
	}
}

@media (min-width : 700px) and (max-width : 767px) {
	.container{
		width: 680px;
		padding: 0px;		
	}
}
