#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post{}

.post:first-child{}

article{}

article p{}

article header{}

article header h1{}

article header{}

.list-group-item{
	display: inline-block;
}

.post-list li{
}

.post-list .panel{	
	margin: 10px;
	width: 150px;
	height: 150px;
	display: inline-block;
	border: solid 1px #bbb;
	padding: 15px;
}

.category-list h3{
	display: inline;	
}
.category-list li{
	display: inline;
	list-style-type: none;
	margin: 0px 10px;
}

.panel.code{
	background: #ffcc33;
}
.panel.music{
	background: #3366FF;
}
.panel.other{
	background: #009966;
}

a.text-success, .text-success{
	font-size: 20px;
}