a { word-wrap: break-word }
code {
  font-size: 87.5%;
  color: #222;
  background-color: rgba(127, 219, 255, .25);
}
.container-narrow { max-width: 48em }
.bg-dark { background-color:#102630; }
.button-logo {
  width: 2em;
  height: 2em;
  border-radius: 10000px;
  border-width: 3px;
}
.button-logo:hover {
  color: #102630;
  background-color: #ff4136;
  opacity: 0.9;
  box-shadow: 0 0 0 2px rgba(255,65,54,.5);
}
.button-logo:before,
.button-logo:after {
  border-radius: inherit;
}
.button-outline { border-width: 2px }
.button-transparent:focus { box-shadow: inset 0 0 0 2px }
.button-grow { transition: transform, box-shadow, .05s ease }
.button-grow:hover { transform: scale(1.0625) }
.button-grow:active { transform: scale(.9375) }
.icon { top: .03125em }

.progress-and-comments {
	/*display: flex;*/
	width: 100%;
}
.comments-display{
  position: relative;
  top: 80px;
  height: 60px;
}
.comments-display ul{
  padding: 0px;
}
.comments-display li{
	list-style-type: none;
  font-size: 12px;
}
.progress-and-comments progress, .progress-and-comments div {
  flex-direction: column;
}
.comments-bar {
  position: relative;
  display: block;
  width: 100%;
  /*height: .5625rem;*/
}
.comments-bar li {
  position: absolute;
  list-style-type: none;
}


.comment-pic{
	width: 20px;
}

.comment-username{
  font-weight: bold;
}